<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
<h1>Пролог</h1>
<p>
    Космонавт вышел в открытый космос, чтобы выполнить очередное задание на своей космической станции.
    Он чувствовал себя уверенно, ведь прошел все необходимые проверки и подготовку.
    Но вдруг что-то пошло не так. Внезапно он потерял сознание и, когда очнулся, обнаружил, что не помнит ничего,
    кроме своего имени.
    Космонавт был в отчаянии, не зная, как вернуть свою память.
    Он обратился за помощью к своим коллегам на станции, но они не могли помочь ему восстановить потерянные
    воспоминания.
    Внезапно на радарах появился объект неизвестного происхождения, и вскоре он приблизился к станции.
    Космонавты были настороже, не зная, что ждать от этого НЛО. Но тут случилось нечто удивительное.
</p>
<form method="POST" action="/level1">
    <label for="username">Введите имя:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <input type="submit" value="Представиться">
</form>
</body>
</html>